*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
text-decoration: none;
text-transform: capitalize;
transition: 0.3 ease;



}
body{
background-color: bisque;
font-size: 62,5%;
overflow-x: hidden;

}
.logo img{
    height: 120px;
    width: 130px;
    background-color: transparent;
    border-radius: 50%;
}
.header
{
   
    margin: 2rem 7%;
    padding:0 7%;
   background-color: white; 
    display: flex;
justify-content: space-between;
align-items: center;
border-radius: 100px;
position: sticky;
z-index: 1000;
}

 .navbar a{
    margin: 0 1rem;
    font-size: 14px;
    color:rgb(185, 105, 105);
    border-bottom: 0.1rem solid transparent;
}
.navbar a:hover,
.navbar .active{
    border-color: deeppink;
    padding-bottom: 0.5rem;
    color:darkcyan;
}
.pic{
    position: relative;
    right: 30px;
}
 .header span{
    position: relative;
  font-size: 26px; 
  color: deeppink;
  font-family:Arial, Helvetica, sans-serif;
bottom: 40px;
right: 30px;
 }
 .home{  
    min-height: 100vh;
  background-image: url(urunler/a-close-up-of-a-bottle-of-perfume-on-a-table-glass-perfume-bottle-generated-by-ai_749933-1243.jpg);
background-position: center;
background-size: cover;
margin-top: -190px;
display: flex;
align-items: center;
 }
 .home.content{
     max-width: 60rem;
 }
 .home .content h3{
     font-size: 2rem;
     padding-left: 10px;
 }
 .home .content span{
font-size: 1.5rem;
padding-left: 70px;
font-family:Arial, Helvetica, sans-serif;
color: deeppink;

 }
 .home .content pre{
     font-size: 1rem;
     font-weight: 300;
     padding: 1rem 0;
     font-weight: bold;
 }
 .btn{
     color: aliceblue;
     background-color: black;
     font-size: 16px;
     margin-top:0.5rem;
    display: inline-block;
    padding: 7px 30px;
    margin-left: 50px;
    border-radius:50px ;
 }
 .btn:hover{
background-color: bisque;
color: deeppink;

 
}
 .menu .box-container{
     margin-top: 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;

}
.menu .box-container .box img{
    width: 200px;
    height: 200px;
    background-color: darksalmon;
    border-radius: 30px;
}
 .box-container .box{
     background-color:fuchsia;
    width: 500px;
    height: 350px;
    border-radius: 50px;
}
.menu h1{
    margin-top: 20px;
    font-size: 22px;
    margin-left: 15px;
}
.menu span{
    color: dimgrey;
}
.menu .box-container .box .txt{
    padding-left: 50px;
}
.menu .box-container .box p{
    font-size: 20px;
}
.head .card img{
    margin-left: 20px;
    width: 200px;
    height:200px;
    border-radius: 10px;
}
.head  {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
.head h3{
    margin-left: 30px;
    font-size: 25px;
    color: gray;
    text-align: center;
}
.about{

    margin-top: 150px;
    margin-right: 50px;
}
.row .picture img{
    width: 600px;
    height: 560px;
    border-radius: 50px;
    margin-left: 30px;
}

iframe{
    border-radius: 30px;
}
.content a{
    margin-left: 200px;
}
.row{

    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}
.blogs .cards{
    display: flex;
    justify-content: space-between;
    column-gap: 15px;

}
.blog img{
    width: 100px;
    height: 100px;
    margin-left: 60px;
    border-radius: 50%;
    margin-top: 20px;
}
.blog pre{
    margin-left: 30px;
}

.blog p{
    margin-left: 20px;
}
.blog h5{
    margin-left: 55px;
}
.blogs .blog{
    background-color: cornsilk;
    width: 300px;
    height: 250px;
    border-radius: 20px;
}
.our-vlogs .vlogs{
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}
.vlog iframe{
    width: 250px;
    height: 200px;
}
.our-vlogs a{
    margin-left:600px;
}
.contact .contactUs{
    display: flex;
    justify-content: space-around;

}
form{

    background-color: black;
    width: 400px;
    height: 350px;
    border-radius: 30px;
    margin-top: 30px;
    margin-right: 50px;
}
.input input{
    margin-left: 70px;
    width: 70px;
    height: 30px;
    border-radius: 7px;
}
.input input:hover{
    background-color:darkcyan;
    color: white;
}
.inputBox input{
border-radius: 10px;
height: 30px;
width: 300px;
margin-left: 40px;

}
.map img{
    width: 600px;
    height: 400px;
}
form h3{
    color: aliceblue;
    text-align: center;
    padding-top: 20px;
}
.social img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.footer{
    background-color: black;
}
.hed h1{
    color:deeppink;
    text-align: center;
    padding-top: 2 0px;
}
.list a{
    color: white;
    text-align: center;
    
    color:deeppink;
    
}.end h6{
    color:deeppink;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.list a:hover{
    color:cornflowerblue;
}
.social{
    margin-left: 600px;
}
.list{
    display: flex;
    
    justify-content: space-around;
    

}
.hed img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-left: 650px;
}